.welcome
{
    text-align: center;
    background-color: rgb(14, 114, 14);
    padding: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.welcome h1
{
    font-size: 35px;
    font-weight: 600;
    color: wheat;
}
.welcome p
{
    font-size: 25px;
    color: white;
}